.tabbar--footer {
  height: 16vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-top: 0px;
}

.tabbar--footer__content {
  bottom: 16vh;
}

.tabbar--footer .tabbar__item {
  height: 80%;
  width: 12vh;
  flex: none;
}

.tabbar--footer .tabbar__button {
  width: 100%;
  flex: none;
}

.tabbar--footer input:checked + .tabbar__button {
  width: 100%;
  height: 100%;
}

.hidden-tab {
  display: none;
}

