.tabbar--footer {
  height: 80px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-top: 0px;
}

.tabbar--footer__content {
  bottom: 80px;
}

.tabbar--footer .tabbar__item {
  width: 18vw;
  flex: none;
}

.tabbar--footer .tabbar__button {
  width: 100%;
  flex: none;
}  

.hidden-tab {
  display: none;
}
  
  