.toolbar--header {
  height: 15vh;
  background-color: white;
  background-size: 0px;
}

.toolbar--header+.page__background+.page__content {
  top: 15vh;
  z-index: 10001;
}

.toolbar-container {
  width: 100%;
  height: 10vh;
  top: 5vh;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  font-family: "Yu Gothic UI";
  font-weight: 100 !important;
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
  border: 0px solid #ccc;
}

.toolbar-container > div {
  height: 10vh;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

.toolbar-container .balance {
  height: 100%;
}

.toolbar-container .balance-amount {
  font-size: 7vh;
  line-height: 7vh;
}

.toolbar-container .balance-ticker {
  height: 100%;
  font-size: 3vh;
  line-height: 3vh;
}

.toolbar-container .partition {
  border-left: 2px solid #000;
  position: relative;
  top: 0.5vh;
  height: 7vh;
  margin-left: 8px;
  margin-right: 20px;
}

.toolbar-container .wallet-name {
  font-size: 3vh;
  line-height: 6vh;
}

.toolbar-container .balance-button .tabbar__button {
  height: 100%;
}

.toolbar-container .wallet-button .tabbar__button {
  height: 100%;
}

.toolbar-container .balance-icon {
  height: 9vh;
  width: 9vh;
  background: url('../images/balance.png') center/contain no-repeat;
}

.toolbar-container .balance-icon input:checked + .tabbar__button {
  height: 100%;
  background: url('../images/balanceActive.png') center/contain no-repeat;
}

.toolbar-container .wallet-icon {
  height: 9vh;
  width: 9vh;
  min-width: 4vh;
  background: url('../images/wallet.png') center/contain no-repeat;
}

.toolbar-container .wallet-icon input:checked + .tabbar__button {
  height: 100%;
  background: url('../images/walletActive.png') center/contain no-repeat;
}