.toolbar--header {
  height: 15vh;
  background-color: white;
  background-size: 0px;
}

.toolbar--header+.page__background+.page__content {
  top: 15vh;
  z-index: 10001;
}

.toolbar-container {
  width: 100%;
  height: 10vh;
  top: 5vh;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  font-family: "Yu Gothic UI";
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
  border: 0px solid #ccc;
}

.toolbar-container > div {
  height: 10vh;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

.toolbar-container .balance {
  display: table;
  text-align: left;
  height: auto;
  width: 40%;
  font-weight: 100;
}

.toolbar-container .balance-amount {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
  font-size: 6.5vh;
  line-height: 1em;
  vertical-align: bottom;
}

.toolbar-container .balance-ticker {
  display: table-cell;
  vertical-align: bottom;
  font-size: 3vh;
  line-height: 1em;
}

.toolbar-container .partition {
  border-left: 2px solid #000;
  position: relative;
  top: 0.5vh;
  height: 6vh;
  margin-left: 8px;
  margin-right: 20px;
}

.toolbar-container .wallet-name {
  height: 100%;
  width: 20%;
  font-size: 3vh;
  line-height: 3vh;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
  font-weight: 400;
}

.toolbar-container .balance-button .tabbar__button {
  height: 100%;
}

.toolbar-container .wallet-button .tabbar__button {
  height: 100%;
}

.toolbar-container .balance-icon {
  height: 10vh;
  width: 9vh;
  background: url('../images/balance.png') center/contain no-repeat;
}

.toolbar-container .balance-icon input:checked + .tabbar__button {
  height: 100%;
  background: url('../images/balanceActive.png') center/contain no-repeat;
}

.toolbar-container .wallet-icon {
  height: 10vh;
  width: 9vh;
  min-width: 4vh;
  background: url('../images/wallet.png') center/contain no-repeat;
}

.toolbar-container .wallet-icon input:checked + .tabbar__button {
  height: 100%;
  background: url('../images/walletActive.png') center/contain no-repeat;
}