.history-item-container {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 5vh;
}

.history-item-container > div {
  border: 0px solid red;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.history-item-container > .status {
  flex: none;
  width: 30px;
  display: table;
  text-align: center;
  vertical-align: center;
  font-size: 10px;
  line-height: 12px;
}

.history-item-container > .status .icon {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  border: 1px solid;
  border-radius: 5px;
}

.history-item-container > .status .label {
  white-space: nowrap;
}

.history-item-container > .datetime {
  flex: none;
  width: 60px;
  font-size: 12px;
  line-height: 12px;
}

.history-item-container > .price {
  flex: none;
  width: 86px;
  display: table;
  table-layout: fixed;
  text-align: left;
  vertical-align: middle;
}

.history-item-container > .price > .icon {
  width: 30px;
  height: 45px;
  display: table-cell;
  vertical-align: middle;
}

.history-item-container > .price > .text {
  padding: 0px 0px;
  margin: 0px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
}

.history-item-container > .price > .text > .amount {
  vertical-align: bottom;
  font-size: 14px;
}

.history-item-container > .price > .text > .ticker {
  vertical-align: top;
  font-size: 10px;
}

.history-item-container > .cause {
  flex: none;
  width: 28px;
  height: 24px;
  text-align: center;
  vertical-align: middle; 
  padding: 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-clip: padding-box;
  user-select: none;
  background-color: #0076ff;
  border: 0 solid currentColor;
  border-radius: 5px;
}

.history-item-container > .cause span {
  color: white;
  user-select: none;
  white-space: pre-line;
  font-size: 10px;
  line-height: 8px;
}

.history-item-container > .wallet {
  flex: none;
  width: 60px;
  display: table;
  table-layout: fixed;
}

.history-item-container > .wallet > .icon {
  width: 20px;
  height: 20px;
  background-size: 18px;
  display: table-cell;
  vertical-align: middle;
}

.history-item-container .text {
  white-space: pre-line;
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
  line-height: 100%;
}