.coins-icon {
  background: url('../images/coins.png') center/cover no-repeat;
}

.single-wallet-icon {
  background: url('../images/singleWallet.png') center/cover no-repeat;  
}

.send-icon {
  background: url('../images/tabBar/send.jpg') center/cover no-repeat;
}

.send-icon input:checked + .tabbar__button {
  background: url('../images/tabBar/sendActive.jpg') center/cover no-repeat;
}

.receive-icon {
  background: url('../images/tabBar/receive.jpg') center/cover no-repeat;
}

.receive-icon input:checked + .tabbar__button {
  background: url('../images/tabBar/receiveActive.jpg') center/cover no-repeat;
}

.history-icon {
  background: url('../images/tabBar/history.jpg') center/cover no-repeat;
}

.history-icon input:checked + .tabbar__button {
  background: url('../images/tabBar/historyActive.jpg') center/cover no-repeat;
}

.setting-icon {
  background: url('../images/tabBar/setting.jpg') center/cover no-repeat;
}

.setting-icon input:checked + .tabbar__button {
  background: url('../images/tabBar/settingActive.jpg') center/cover no-repeat;
}

.balance-icon {
  background: url('../images/balance.png') center/contain no-repeat;
}

.balance-icon input:checked + .tabbar__button {
  background: url('../images/balanceActive.png') center/contain no-repeat;
}

.wallet-icon {
  background: url('../images/wallet.png') center/contain no-repeat;
}

.wallet-icon input:checked + .tabbar__button {
  background: url('../images/walletActive.png') center/contain no-repeat;
}

.delete-icon {
  background: url('../images/delete.png') center/cover no-repeat;  
}

.button.delete-icon:active,
.button.delete-icon[disabled] {
  opacity: 1.0;
  background: url('../images/deleteActive.png') center/cover no-repeat;
}

.nfc-icon {
  background: url('../images/2nfc.png') center/contain no-repeat;
}

.button.nfc-icon:active {
  opacity: 1.0;
  background: url('../images/2nfcActive.png') center/contain no-repeat;
}

.nfc-icon.button:disabled,
.nfc-icon.button[disabled] {
  opacity: 1.0;
  background: url('../images/2nfcActive.png') center/contain no-repeat;
}

.qr-icon {
  background: url('../images/qr.png') center/contain no-repeat;
}

.button.qr-icon:active {
  opacity: 1.0;
  background: url('../images/qrActive.png') center/contain no-repeat;
}

.qr-icon.button:disabled,
.qr-icon.button[disabled] {
  opacity: 1.0;
  background: url('../images/qrActive.png') center/contain no-repeat;
}

.sort-icon {
  background: url('../images/sort.png') center/contain no-repeat;
}

.button.sort-icon:active {
  opacity: 1.0;
  background: url('../images/sortActive.png') center/contain no-repeat;
}

.create-icon {
  background: url('../images/create.png') center/contain no-repeat;
}

.button.create-icon:active {
  opacity: 1.0;
  background: url('../images/createActive.png') center/contain no-repeat;
}

.manage-icon {
  background: url('../images/manage.png') center/contain no-repeat;
}

.button.manage-icon:active {
  opacity: 1.0;
  background: url('../images/manageActive.png') center/contain no-repeat;
}
