.receive-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  box-sizing: border-box;
  border: 0px solid green;
}

.receive-container .receive-box {
  min-height: 30vmin;
  max-height: 30vmin;
  min-width: 30vmin;
  max-width: 30vmin;
  border: 0px solid #0076ff;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.receive-container .receive-label {
  font-size: 1.8vh;
  color: gray;
  white-space: nowrap;
}

.receive-container .receive-form {
  width: 32vmin;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: stretch;
  flex-flow: nowrap;
  box-sizing: border-box;
}

.receive-container .text-input {
  font-size: 2.5vh;
  height: 3vh;
}