.tab-like-bar {
  position: fixed;
  width: 100%;
  z-index: 20003;

  background-color: transparent;
  background-image: linear-gradient(to bottom, white 4.5vh, #efeff4 0px, transparent);
  background-image: linear-gradient(to bottom, white 4.5vh, #efeff4 0px, rgba(239,239,244,0.8), transparent);
  background-size: calc(12vh + 1px);
  height: 12vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  box-sizing: border-box;
  border: 0px solid #ccc;
}


.tab-like-bar + .tab-like-bar__content {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: calc(100% - 12vh);
  top: 12vh;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;

  box-sizing: border-box;
  border: 0px solid red;
}

.tab-like-bar.half {
  background-size: calc(4.5vh + 1px);
  height: 4.5vh;
}

.tab-like-bar.half + .tab-like-bar__content {
  top: 4.5vh;
  height: calc(100% - 4.5vh);
}

.tab-like-bar.without-label {
  background-size: calc(11vh + 1px);
  height: 11vh;
}

.tab-like-bar.without-label + .tab-like-bar__content {
  top: 4.5vh;
  height: calc(100% - 4.5vh);
}

.tab-like-bar .button {
  height: 12vh;
  width: 22vw;
}
