.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.outer{
  position: relative;
}
.inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
}

.login-form-container {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  border-radius: 4px 4px 4px 4px;
    border: solid 1px #0076ff;
}
.dm {
    border: solid 1px #0076ff;
}

.text-input--login-input-top {
  border: solid 1px #0076ff;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  margin: 0px;
  border-bottom: 0px !important;
}

.text-input--login-input-middle {
  border: solid 1px #0076ff;
  width: 100%;
  border-radius: 0px;
  margin: 0px;
  border-bottom: 0px !important;
}

.text-input--login-input-bottom {
  border: solid 1px #0076ff!important;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  margin: 0px 0px 10px 0px;
}

.button--login-button-bottom {
  border: solid 1px #0076ff;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 4px 4px !important;
}

